{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('         {{ url_for('static', filename='img/1.jpg') }}       ')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Clean Predictions</h1>
              <span class="subheading">A Your oWn Doctor!!!!!!!!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                “This is a web application which gives prediction on the basis of your input. In this we predict a person having diabetes, heart diaseases and type of cancer tumour on the basis of input ”
              </h2>
            </a>
            <p class="post-meta">
              <a href="#">Abhishek Sharma ankit & Tarun</a>
            </p>
          </div>
          <hr>

   

        </div>
      </div>
    </div>
{% endblock %}
